# --------------------------------------------
# Python
# --------------------------------------------

__pycache__/

# --------------------------------------------
# Jupyter notebooks
# --------------------------------------------

.ipynb_checkpoints
*/.ipynb_checkpoints/*
*.json
*.vscode
README copy.md

